*{
    margin: auto;
    padding: auto;
  }
  body{
    background-color: rgba(61, 145, 255, 0.7);
  }
   .bdjm{
    background-color: rgba(223, 223, 223, 0.8);
    width: 300px;
    height:auto;
  border-radius: 14px;
  margin-top: 25%;
  transition: 1.5s;
   }
   .bdjm:hover{
    border:5px solid rgb(19, 18, 18);
   }
   .biat{
    font-size: 30px;
    margin-top: 9px;
    transition: 2s;
   }
   .yd{
    margin-left: 19%;
    margin-bottom: 10px;
   }
   
   .tb{
    width: 280px;
    height: auto;
    position: relative;
    padding-top: 0.2px;
   }
   .dc{
    width: 280px;
    height: 10px;
    display: none;
   }
   .dc2{
    width: 280px;
    height: 100px;
    display: none;
    margin-top: 13px;
   }
   .tb:hover .biat{
    font-size: 32px;
    color: aqua;
   }
   .tb:hover .dc{
    display: block;
   }
   .tb:hover .dc2{
    display: block;
   }
   .lys{
    border-radius: 3px;
    transition: 2s;
   }
   .lys:hover{
    background-color: rgba(61, 145, 255, 0.7);;
   }
   .yd2{
    margin-left: 30px;
   }
   .zz{
    text-decoration: none;
    color: #000;
   }
   .zz:hover{
    color: rgb(255, 0, 0);
   }
   .an{
    width: 50px;
    background-color: rgba(0, 255, 255, 0.751);
    border: none;
    border-radius: 13px;
    color: #000;
    transition: 2s;
   }
   .an:hover{
    color: rgb(0, 76, 255);
    width: 100px;
   }
   .hd{
    color: blue;
    
   }
   .xj{
    width: 280px;
    height: 30px;
   }
   video{
    position:absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    height: 100%;
    width: 100%;
    z-index: -99;
    
}
source{
    width: 100%;
   height: 100%;
    height: auto;
    width: auto;
}